.transactionHistory {
  margin: 40px auto 0;
  border: 1px solid black;
  width: 60%;
}

th {
  text-align: left;
  color: #fff;
  background-color: #888891;
}
td {
  color: #696969;
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  height: 20px;
  text-align: center;
}
td:first-child {
  width: 150px;
  min-width: 0;
}
th:last-child {
  text-align: right;
}
td:last-child {
  width: 80px;
  min-width: 0;
  text-align: right;
}
tr:nth-child(odd) {
  background-color: rgba(92, 12, 183, 0);
}
